<div class="header">
  <div class="title">
    <h1>
      {{ content.title.value }}
    </h1>
  </div>
  <div class="date">
    {{ content.field_start_date }}
    {{ content.field_end_date }}
  </div>
</div>
<div class="main-content">
  <div class="left">
    {{ content.body }}
    <button type="button">
      <a href="/">View all events</a>
    </button>
  </div>
  <div class="right">
    <img src="{{ content.field_image_url['0']['#text'] }}" alt="img" />
    <button type="button">Tickets</button>
  </div>
</div>