body {
  padding: 0px 230px;
  background-image: linear-gradient(134deg, #9ba3cb 0%, #b3d6ef 61%, #97ffc6 100%);
  /*background: linear-gradient(to left top, #061275 0%, #5CC8F8 50%, #00FF72 100%), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));*/
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.js-quickedit-page-title {
  color: green;
}

#block-events-page-title{
  color: #fff;
  text-align: center;
}
.homepage-articles {
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
  .owl-nav{
    position: absolute;
    top: calc(50% - 55px);
    width: 100%;
    z-index: 2;
    .owl-prev,
    .owl-next{
      width: 50px;
      height: auto;
      position: absolute;
    }
    .owl-prev{
      left: -50px;
    }
    .owl-next{
      right: 0;
    }

  }
  .owl-item {
    .views-row{
      margin: 0px 35px;
      text-align: center;
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      min-height: 440px;
      position: relative;
      .views-field-field-image-url{
        img{
          width: 100%;
          height: auto;
          height: 146px;
          object-fit: cover;
        }
      }
      .views-field-title{
        padding: 0 10px;
        font-size: 14px;
        color: #212121;
        font-family: Arial;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.15px;
        margin-bottom: 40px;
        margin-top: 25px;
        a{
        text-decoration: none;
        color: #000;
        }
      }
      .views-field-field-start-date {
        color: #606060;
        font-family: Arial;
        font-size: 13px;
        letter-spacing: 0.15px;
      }
      .views-field-body{
        padding: 0 10px;
        color: #b5b5b5;
        font-family: Arial;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.14px;
      }
      .views-field-view-node{
        background-color: #9013fe;
        margin-top: 20px;
        padding: 16px 0;
        position: absolute;
        width: 100%;
        bottom: 0;
        a{
          color: #fff;
          font-family: Arial;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.19px;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#block-events-local-tasks{
  display: none;
}
#block-events-content{
  color: #212121;
  font-family: Arial;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.26px;
  .header{
    .title{
      color: #ffffff;
      font-family: Arial;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.58px;
    }
    .date{
      color: #ffffff;
      font-family: Arial;
      font-size: 26px;
      letter-spacing: 0.3px;
    }
  }
  .main-content{
    clear: both;
    .left{
      width: 60%;
      float: left;
    }
    .right{
      float: right;
    }
  }
}