/* line 1, ../scss/pages/_home.scss */
body {
  padding: 0px 230px;
  background-image: linear-gradient(134deg, #9ba3cb 0%, #b3d6ef 61%, #97ffc6 100%);
  /*background: linear-gradient(to left top, #061275 0%, #5CC8F8 50%, #00FF72 100%), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));*/
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 9, ../scss/pages/_home.scss */
.js-quickedit-page-title {
  color: green;
}

/* line 13, ../scss/pages/_home.scss */
#block-events-page-title {
  color: #fff;
  text-align: center;
}

/* line 17, ../scss/pages/_home.scss */
.homepage-articles {
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
}
/* line 21, ../scss/pages/_home.scss */
.homepage-articles .owl-nav {
  position: absolute;
  top: calc(50% - 55px);
  width: 100%;
  z-index: 2;
}
/* line 26, ../scss/pages/_home.scss */
.homepage-articles .owl-nav .owl-prev,
.homepage-articles .owl-nav .owl-next {
  width: 50px;
  height: auto;
  position: absolute;
}
/* line 32, ../scss/pages/_home.scss */
.homepage-articles .owl-nav .owl-prev {
  left: -50px;
}
/* line 35, ../scss/pages/_home.scss */
.homepage-articles .owl-nav .owl-next {
  right: 0;
}
/* line 41, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row {
  margin: 0px 35px;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  min-height: 440px;
  position: relative;
}
/* line 50, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row .views-field-field-image-url img {
  width: 100%;
  height: auto;
  height: 146px;
  object-fit: cover;
}
/* line 57, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row .views-field-title {
  padding: 0 10px;
  font-size: 14px;
  color: #212121;
  font-family: Arial;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  margin-bottom: 40px;
  margin-top: 25px;
}
/* line 67, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row .views-field-title a {
  text-decoration: none;
  color: #000;
}
/* line 72, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row .views-field-field-start-date {
  color: #606060;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.15px;
}
/* line 78, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row .views-field-body {
  padding: 0 10px;
  color: #b5b5b5;
  font-family: Arial;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.14px;
}
/* line 86, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row .views-field-view-node {
  background-color: #9013fe;
  margin-top: 20px;
  padding: 16px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* line 93, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row .views-field-view-node a {
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  text-decoration: none;
}
/* line 101, ../scss/pages/_home.scss */
.homepage-articles .owl-item .views-row .views-field-view-node a:hover {
  text-decoration: underline;
}

/*#block-events-page-title{
  background-image: linear-gradient(134deg, #061275 0%, #5cc8f8 61%, #00ff72 100%);
  h1{

  }
}*/
/* line 126, ../scss/pages/_home.scss */
#block-events-local-tasks {
  display: none;
}

/* line 129, ../scss/pages/_home.scss */
#block-events-content {
  color: #212121;
  font-family: Arial;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.26px;
}
/* line 136, ../scss/pages/_home.scss */
#block-events-content .header .title {
  color: #ffffff;
  font-family: Arial;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.58px;
}
/* line 144, ../scss/pages/_home.scss */
#block-events-content .header .date {
  color: #ffffff;
  font-family: Arial;
  font-size: 26px;
  letter-spacing: 0.3px;
}
/* line 151, ../scss/pages/_home.scss */
#block-events-content .main-content {
  clear: both;
}
/* line 153, ../scss/pages/_home.scss */
#block-events-content .main-content .left {
  width: 60%;
  float: left;
}
/* line 157, ../scss/pages/_home.scss */
#block-events-content .main-content .right {
  float: right;
}
